{% extends 'base.html'%}
{% block body%}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <h1>Feed</h1>
        {% for post in postList %}
        <p><b>-------------------------------------------</b></p>
                  <p><b>{{ post.author }}</b></p>
                  <p><b>{{ post.created_at}}</b></p>
                  <p><b>{{ post.text }}</b></p>
          <p><b>-------------------------------------------</b></p>
        {% endfor %}
        <form action='{% url 'new_post'%}' method='GET'>
          <button type='submit' class="btn btn-primary"> Create New Post</button>
        </form>
    </div>
  </div>
</div>
{% endblock%}
